* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f8f9;
}

/* Header style */
header {
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: white;
}

#logo {
    height: 100%;
    vertical-align: middle;
}

#logo-text {
    font-size: 38px;
    font-weight: 900;
    vertical-align: middle;
}

/* Content style */
.container {
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
}

.top {
    height: 50px;
    padding: 0 50px;
    border-bottom: 2px solid #f6f8f9;
    line-height: 50px;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.btn a {
    text-decoration: none;
}

.btn-filled {
    border: 1px solid #14aaf5;
    background-color: #14aaf5;
}

.btn-filled a {
    color: white;
}

.btn-empty {
    border: 1px solid #c4cbd0;
    background-color: white;
}

.btn-empty a {
    color: #c4cbd0;
}

.tasks {
    padding: 20px 50px;
}

li {
    list-style: none;
    padding: 10px 0;
    color: #434851;
}

.tag {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    background-color: #09a9ed;
}